<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="./static/lib/skeleton/normalize.css">
    <link rel="stylesheet" href="./static/lib/skeleton/skeleton.css">
    <link rel="stylesheet" href="./static/style.css">
    <div class="container">
        <img src="https://cdn1.unrealengine.com/Fortnite/3516364/2b02f09dda89cfbef21b7bc3eea90fc4.jpg" height="150px" width="300px" alt=""/>
    </div>
    </html>
        <meta charset="UTF-8">
        <title>My Website</title>

    <html>
    <body>
    <div class="container">


    </div>

        <div class="container">
        <div>
            <ul class="navigation">
                <li class="navigation-item">
                    <a href="/">Start Page</a>
                </li>
                <li class="navigation-item">
                    <a href="/test">Test Page</a>
                </li>
                <li class="navigation-item">
                    <a href="/profile">Profile Page</a>
                </li>
                <li class="navigation-item">
                    <a href="/roblox">Roblox Page</a>
                </li>
                <li class="navigation-item">
                    <a href="/Minecraft">Minecraft Page</a>
                </li>
                <li class="navigation-item">
                    <a href="/Fortnite">Fortnite Page</a>
                </li>
                <li class="navigation-item">
                    <a href="/Company">Exchange Rates Page</a>
                </li>
                <li class="navigation-item">
                    <a href="/Game">Game page</a>
                </li>
            </ul>
            <div style="clear:both;">&nbsp;</div>

        </div>
    <p>Sorry I do not know anything about Fortnite so please have fun in the other ones but not this one sorry.</p>