{% extends "layouts/main.html" %}

{% block content %}

    <form method="get">
        <label for="currency1">What's your Company?</label>
        <input type="text" name="currency1" id="currency1" value="{% if currency1 != None: %}{{currency1}}{% endif %}">
        <label for="currency2">How much money do you get?</label>
        <input type="text" name="How much money do you get?" id="currency2" value="{% if currency2 != None: %}{{currency2}}{% endif %}">
        <label for="rate">Why do you like it?</label>
        <input type="text" name="rate" id="rate" value="{% if rate != None: %} {{rate}} {% endif %}">
        <br/>
        <input type="submit" value="Run form">
    </form>

<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>{% if currency1 != None: %}{{currency1}}{% endif %}</th>-->
<!--                <th>{% if currency2 != None: %}{{currency2}}{% endif %}</th>-->
<!--                <th>{% if rate != None: %}{{rate}}{% endif %}</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            {% for row in table1 %}-->
<!--            <tr>-->
<!--                <td>{{row[0]}}</td>-->
<!--                <td>{{row[1]}}</td>-->
<!--            </tr>-->
<!--            {% endfor %}-->

<!--        </tbody>-->

<!--    </table>-->

{% endblock %}