{% extends "layouts/main.html" %}

{% block content %}
    <h1> {{person[0]}} {{person[1]}} </h1>
        {% for item in Items %}
            <p>{{item.name}} {{ item.amounts}} needed!</p>
        {% endfor %}
{% endblock %}


    <div class="row">
        <div class="six columns">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <td>Do I like school</td>
                        <td>I love maths</td>
                     </tr>
                </thead>
                <tr>
                        <td>My name is...</td>
                        <td> Chikamso Kanu</td>
                </tr>
            </table>
        </div>
        <div class="six columns">
        </div>
        </div>


